{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link type="text/css" href="{% static 'user/css/style.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<ul id="mainmenu" class="mainmenu">
{% if request.user.is_authenticated %}
    <li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
    <div class=></div>
{% else %}
    <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
{% endif %}

</ul>
<div>
    <h1>{{ title }}</h1>
</div>
<!-- Конец footer'а и страницы -->
</body>
</html>
